body {
  font-family: 'Itim', cursive;
}

.hero-image {
  width: 100%;
  border-radius: 10px;
}

.column {
  margin-bottom: 20px;
}

.info-box {
  padding: 20px;
  background-color: #e6ecf0;
  border-radius: 5px;
  text-align: center;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffcccb; /* Change this to your desired hover color */
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

.content {
  padding-top: 80px; /* Adjust this value based on navbar height */
}

.list-group-item a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.list-group-item a:hover {
  color: #ffcccb; /* Change this to your desired hover color */
}
