body {
    overflow: hidden;
  }
  
  html,
  body,
  main {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  section {
    height: 100vh;
    scroll-snap-align: start;
  }
  
  /* Add more styles as per your design preferences */
  
  
  /* Set up the navigation */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #333;
  }
  
  nav ul li {
    margin: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  /* Style the hero section */
  #hero {
    text-align: center;
    background-color: #f2f2f2;
    padding: 50px;
  }
  
  /* Style the other sections */
  section {
    padding: 50px;
  }
  
  /* Add more styles as per your preference */
  
  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in.show {
    opacity: 1;
  }
  #arrow-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  #arrow-button i {
    transform: rotate(90deg);
  }
  